body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black; 
}

.shelfie-img-div {
  display: flex;
  align-items: center;
}

.shelfie-img {
  margin-left: 100px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  border: 2px solid black
}